<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.duoer.campus.dao.FeedingRecordMapper">
    <delete id="deleteFeedingRecordsByIds">
        /* use forEach */
        delete from feeding_record where
        record_id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
        and username = #{username}
    </delete>
</mapper>